<% include header.ejs %>

<h1 class="detail-header" title="<%=data[num]['title']['value']%>"><%=data[num]['title']['value']%></h1>
<div class="info">
  <section class="text">
    <p><%=data[num]['description']['value']%></p>
    <p class="creator"><%=data[num]['creator']['value']%></p>
    <p class="date"><%=data[num]['endDate']['value']%></p>
    <p class="provenance"><%=data[num]['provenance']['value']%></p>
    <a href="<%=data[num]['cho']['value']%>">Klik hier om naar de bronpagina te gaan</a>
    <div class="buttons">
      <% if(locals.num){ %>
        <% console.log(num) %>
       <% if(parseInt(num) !== 0) { %>
         <a href="/search_q=<%=queryZoekTerm%>/detail=<%=parseInt(num)-1%>">prev</a>
       <% } %>
         <a href="/search_q=<%=queryZoekTerm%>">Home</a>
       <% if(parseInt(num) !== data.length-1) { %>
         <a href="/search_q=<%=queryZoekTerm%>/detail=<%=parseInt(num)+1%>">next</a>
       <% } %>
     <% } %>
    </div>
  </section>
  <img onerror="background-color: #DA694B" class="bigimg" src="<%=data[num]['img']['value']%>">
</div>
