<% include header.ejs %>
<div id="offline">
  <p>Oeps, je bent offline. In het archief zoeken gaat nu niet meer. Wel kan je je oude zoekresultaten bekijken via de balk onderin!</p>
  <h2>X</h2>
</div>
<header>
  <h1>Doorzoek het stadsarchief</h1>
  <p>Vul een aan Amsterdam gerelateerde zoekterm in. Bijvoorbeeld: Rokin</p>
</header>

<section id="search-bar">
  <form class="" action="/" method="post">
    <label for="zoekTerm"></label>
    <input type="text" name="zoekTerm" placeholder="Zoek" autofocus>
    <input id="button" type="submit" name="button" value="Zoek">
  </form>

  <div class="search-parm">
    <% if(locals.data) { %>
    <p>Uw zoekopdracht heeft  <strong><em><%=locals.data ? data.length : "nog geen"%></em></strong>  resultaten opgeleverd</p>
    <p>U zocht op: <strong><em><%=zoekTerm%></em></strong></p>
    <% } %>
  </div>
</section>

<section id="images">
    <% if(locals.data) { %>
      <% data.forEach((el, i) => { %>
        <a href="/search_q=<%=zoekTerm%>/detail=<%=i%>" aria-label="ADAM-net">
          <div class="small-img" style="background-image: url(<%=el['img']['value']%>)">
          </div>
        </a>
      <% }) %>
    <% } %>
</section>

<footer>
  <p>U zocht eerder op:</p>
  <div>
    <% if(locals.data) { %>
      <% zoekGeschiedenis.forEach(term => { %>
       <a href="/search_q=<%=term%>"><%=term%></a>
       <% }) %>
       <% } %>
  </div>
</footer>
<% include footer.ejs %>
